<!doctype html>
<html ng-app="eriotApp">

<head>

<title>Engineeriot</title>
<meta charset="utf-8">
<link type="text/css" rel="stylesheet" href="./style/decoration.css"/>
<link rel="stylesheet" type="text/css" href="./slick/slick.css"/>
<script src="./js/jquery.js"></script>
<script src="./js/angular.min.js"></script>
<script src="./js/app.js"></script>
<script type="text/javascript" src="./js/LandingController.js"></script>
</head>
<body ng-view ng-controller='LandingController'>
<section id="title" class="block">

	<nav class="asideMenu" 
		 ng-include="'./templates/asideMenu.html'"
		 ng-repeat="title in menu[0].title">
	</nav>

	<div class="content">
		<div class="background">
			<img src='./images/title-bg.png'/>
		</div>
		<div class="content-wrapper">

			<section>
				<div id="top-block" class="clear">
					<img src="./images/text-logo.png" height="30px" width="171px"/>
					<a class="contacts-text" href="#">Contact Us</a>
				</div>

				<h1 id="idea-title">Help turning your <span class='mark-word'>ideas</span>
				Into real <span class='mark-word'>product</span> and
				start production
				</h1>

				<div class='stat-info'>
					<div class="stat-item">
						<div>
							<span class="mark-word">55</span>
							<div class='vertical mark-word'>Products</div>
						</div>
						<p>
							<span>launched on the market with the help of our professionals</span>
						</p>
						<div class="stat-border"></div>
					</div>

					<div class="stat-item">
						<div>
							<span class="mark-word">35</span>
							<div class='vertical mark-word'>
								<span>Engineers</span>
							</div>
						</div>
						<p>
							<span>and consultants of different spe<wbr/>ci<wbr/>ali<wbr/>zations in the team</span>
						</p>
						<div class="stat-border"></div>
					</div>

					<div class="stat-item">
						<div>
							<span class="mark-word">5.7</span>
							<div class='vertical mark-word'>Million</div>
						</div>
						<p>
							<span>copies of product reached the satisfied buyer</span>
						</p>
						<div class="stat-border"></div>
					</div>
				</div>
			</section>
			
		</div>
	</div>


</section>
<section id="services" class="block">

	<nav class="asideMenu" 
		 ng-include="'./templates/asideMenu.html'"
		 ng-repeat="title in menu[1].title">
	</nav>

	<div class="content">
		<div class="content-wrapper">
			<section>
				<div class="section-title">Services</div>

				<div class="services-content">
					<div class="slider-wrapper">
						<div id="step-slider" class="step-slider">
							<div class="step" ng-repeat="step in steps" data-id="{{step.id}}">
								<article ng-repeat="article in step.articles">
									<h4 class="services-step-header">{{article.header}}</h4>
									<p class="services-step-description">
										<ul>
											<li ng-repeat="item in article.description">
												{{item}}
											</li>
										</ul>
									</p>
								</article>
							</div>
						</div>
						<div class="float-area services-buttons">
							<div class="services-prev">
			  					<div class="button enable-transition">
			  						<div class="arrow"></div>
			  					</div>
			  					<span class="label enable-transition">BACK</span>
			  				</div>
			  				<div class="services-next enable-transition">
								<span class="label enable-transition">NEXT</span>
								<div class="button enable-transition">
									<div class="arrow"></div>
								</div>
							</div>
						</div>
					</div>
			
					<div id="services-steps">
						<ul class="steps-figures">
							<li>
								<span class="step-text">
									<span class="text-upper enable-transition">Step 1.</span>
									WE EXAMINE THE IDEA AND HELP TO EVALUATE IT
								</span>
								<div class="step-color back"></div>
								<div class="step-color front"></div>
							</li>
							<li>
								<span class="step-text">
									<span class="text-upper enable-transition">Step 2.</span>
									EXPLORE THE CONCEPT
								</span>
								<div class="step-color back"></div>
								<div class="step-color front"></div>
							</li>
							<li>
								<span class="step-text">
									<span class="text-upper enable-transition">Step 3.</span>
									DESIGN THE READY PROTOTYPE
								</span>
								<div class="step-color back"></div>
								<div class="step-color front"></div>
							</li>
							<li>
								<span class="step-text">
									<span class="text-upper enable-transition">Step 4.</span>
									LAUNCH THE PREPRODUCTION AND LINE PRODUCTION
								</span>
								<div class="step-color back"></div>
								<div class="step-color front"></div>
							</li>
						</ul>
					</div>
				</div>

			</section>
		</div>
	</div>

</section>
<section id="devices" class="block">

	<nav class="asideMenu" 
		 ng-include="'./templates/asideMenu.html'"
		 ng-repeat="title in menu[2].title">
	</nav>

	<div class="content">

		<div class="background">
			<img src='./images/devices-bg.png'/>
		</div>

		<div class="content-wrapper">
			<section>
				<div class="content-wrapper">
					<div class="devices-contact float-area">
						<p class="discuss-title text-upper left">
							Are you ready to discuss <br/>
							your project with our manager?
						</p>
						<div class="contact-us-btn text-upper right enable-transition">
							Contact us
						</div>
					</div>

					<div class="section-title">Devices</div>
					<hr class="line-divider"/>
					<div class="section-subtitle">PROJECTS WE CAN WORK ON</div>

					<div class="devices-list float-area">

						<div class="device-item" ng-repeat="device in devices">
							<div class="desc">
								<h3>{{device.title}}</h3>
								<p>{{device.desc}}</p>
							</div>
						</div>

					</div>

				</div>
			</section>
		</div>
	</div>

</section>
<section id="expertise" class="block">
	
	<!--<nav class="asideMenu" 
		 ng-include="'./templates/asideMenu.html'"
		 ng-repeat="title in menu[3].title">
	</nav>-->

</section>
<section id="team" class="block">
	
<!--MENU-->

<!--ENDMENU-->

</section>
<section id="awards-cases" class="block">
	
<!--MENU-->

<!--ENDMENU-->

</section>
<section id="contacts" class="block">
	
<!--MENU-->

<!--ENDMENU-->

</section>


<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="./slick/slick.min.js"></script>

</body>

</html>

