@font-face {
	font-family: 'Roboto';
	src: url('./../fonts/Roboto 100.ttf');
	font-weight: 100;
}

@font-face {
	font-family: 'Roboto';
	src: url('./../fonts/Roboto 100italic.ttf');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('./../fonts/Roboto 300.ttf');
	font-weight: 300;
}

@font-face {
	font-family: 'Roboto';
	src: url('./../fonts/Roboto 300italic.ttf');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto Condensend';
	src: url('./../Roboto Condensend regular.ttf');
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Condensend';
	src: url('./../Roboto Condensend 700.ttf');
	font-weight: 700;
	font-style: bold;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto';
}

#title {
	width: 100%;
	height: 1080px;
	position: relative;
}

.asideMenu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	text-align: center;
	/*width: 96px;*/
	width: 5.003%;
	height: 100%;
	background-color: white;
}

.menu-block-title {
	height: 100%;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	font-family: 'Roboto Condensed';
	font-size: 20px;
}

.contacts-text {
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding-right: 20px;
	font-family: 'Roboto Condensed';
	background-image: url('./../images/contacts-arrow.png');
	background-position: 100% center;
	vertical-align: super;
	background-repeat: no-repeat;
	color: #ffde2b;
	font-size: 16px;
	float: right;
}

#title .content-wrapper {
	background-image: url('./../images/title-bg.png');
	/*background-position: -96px 0;*/
	background-position: -5.003% 0;
}

.content-wrapper {
	height: 100%;
	/*margin: 0 0 0 96px;*/
	margin: 0 0 0 5.003%;
}

.clear:after,
.clear:before {
	content: '';
	display: inline-block;
	clear: both;
}

#title .content-wrapper section {
	padding-top: 10.5322%;
	padding-left: 16.1822%;
	padding-right: 23.423%;
}

#top-block {
	padding-bottom: 15px;
	border-bottom: 1px solid white;
}

#title #top-block,
#title #idea-title {
	margin-right: 25.523%;
}

#idea-title {
	color: white;
	font-size: 50px;
	font-family: 'Roboto Condensed';
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 40px;
	white-space: pre-line;
}

#top-block img {
	height: 20px;
	width: 114px;
}

.mark-word {
	color: #feeb37;
}

.menu-block-title:before,
.menu-block-title:after {
	content:'';
	width: 5px;
	display:inline-block;
	height: 100%;
	vertical-align: middle;
}

.menu-block-title span{
	display: inline-block;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.menu-logo {
	z-index: 10;
	width: 55px;
	height: 55px;
	padding-top: 6px;
}

.content {
	z-index: 9;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: cyan;
}
.block:after,
.block:before {
	content: '';
	display: block;
	clear: both;
}

@media only screen  and (min-width : 1824px) {

	.menu-logo {
		/*padding: 16px 12px;*/
		padding-top: 16px;
		width: 72px;
		height: 72px;
	}

	#idea-title {
		font-size: 72px;
	}

	.contacts-text {
		font-size: 21px;
		margin-top: 2px;
	}

	#top-block img {
		height: 30px;
		width: 171px;
	}
}