@font-face {
	font-family: 'Roboto';
	src: url('./../fonts/Roboto 100.ttf');
	font-weight: 100;
}

@font-face {
	font-family: 'Roboto';
	src: url('./../fonts/Roboto 100italic.ttf');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('./../fonts/Roboto 300.ttf');
	font-weight: 300;
}

@font-face {
	font-family: 'Roboto';
	src: url('./../fonts/Roboto 300italic.ttf');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto Condensend';
	src: url('./../Roboto Condensend regular.ttf');
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Condensend';
	src: url('./../Roboto Condensend 700.ttf');
	font-weight: 700;
	font-style: bold;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto';
}

#title {
	width: 100%;
	height: 1080px;
	position: relative;
}

#services {
	width: 100%;
	height: 1080px;
	position: relative;
}

.asideMenuBurger {
	height: 96px;
	border-top: 1px solid #dfdfdf;
	text-align: center;
	line-height: 96px;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 10;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.asideMenuBurger:hover,
.asideMenuBurger:hover .burgerImg:before,
.asideMenuBurger:hover .burgerImg:after {
	background-color: #feeb37;
}

.enable-transition {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.devices-list {
	margin-top: 45px;
}

.device-item {
	width: 24%;
	height: 248px;
	float: left;
}

.device-item:before {
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.device-item .desc {
	background-color: #fbef62;
}

.device-item .desc {
	padding: 20px;
}

.device-item .desc h3 {
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 10px;
}

.device-item .desc p {
	font-size: 14px;
	margin: 0 0 10px 0;
}

.device-item:nth-child(1):before {
	background-image: url('./../images/devices-1.png');
}

.device-item:nth-child(2):before {
	background-image: url('./../images/devices-2.png');
}

.device-item:nth-child(3):before {
	background-image: url('./../images/devices-3.png');
}

.device-item:nth-child(4):before {
	background-image: url('./../images/devices-4.png');
}

.device-item:nth-child(n+2) {
	margin-left: 1.33%;
}

.burgerImg {
	display: inline-block;
	vertical-align: middle;
	height: 14px;
	width: 20px;
	background-color: black;
	position: relative;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.burgerImg:before,
.burgerImg:after {
	content: '';
	display: block;
	width: 100%;
	height: 4px;
	position: absolute;
	background-color: white;
}

.burgerImg:before {
	top: 2px;
}

.burgerImg:after {
	bottom: 2px;
}

.asideMenu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	text-align: center;
	width: 5.003%;
	height: 100%;
	background-color: white;
	border-right: 1px solid #dfdfdf;
}

.menu-block-title {
	height: 100%;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	font-family: 'Roboto Condensed';
	font-size: 20px;
}

.contacts-text {
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding-right: 20px;
	font-family: 'Roboto Condensed';
	background-image: url('./../images/contacts-arrow.png');
	background-position: 100% center;
	vertical-align: super;
	background-repeat: no-repeat;
	color: #ffde2b;
	font-size: 16px;
	float: right;
}

.content .background img {
	vertical-align: top;
	width: 100%;
	opacity: 0;
}

#devices {
	width: 100%;
    height: 1088px;
    position: relative;
}

#expertise {
	width: 100%;
	height: 1656px;
	position: relative;
}

#devices .content {
	top: -100px;
}

#devices .content .background {
	position: absolute;
	background: url('./../images/devices-bg.png') 50%/100% no-repeat;
	width: 100%;
	z-index: -1;
}

#title .content .background {
	position: absolute;
	background: url('./../images/title-bg.png') 50%/100% no-repeat;
	width: 100%;
	z-index: -1;
}

.clear:after,
.clear:before {
	content: '';
	display: inline-block;
	clear: both;
}

.section-title {
	font-size: 72px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed';
	font-weight: bold;
}

.section-subtitle {
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed';
	color: white;
	font-weight: 100;
}

.section-subtitle.dark {
	color: black;
}

#services .section-title {
	padding-bottom: 50px;
}

.content-wrapper section {
	padding-left: 20.1822%;
}

#services .content-wrapper section {
	padding-top: 13.601%;
}

#title .content-wrapper section {
	padding-top: 10.5322%;
	padding-right: 20.423%;
}

#expertise .content-wrapper section {
	padding-top: 13.5322%;
	padding-right: 20.423%;
}

.exp-line-area {
	padding: 0;
	width: 100%;
	margin-top: 100px;
	height: 103px;
	position: relative;
	font-size: 0;
}

.exp-line-area .pre-item,
.exp-line-area .after-item {
	background-image: url('./../images/expertise-line.png');
	background-repeat: repeat-x;
	min-width: 20%;
	height: 100%;
	float: left;
}

.exp-line-area:before {
	content:'';
	float: none;	
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
}

.exp-line-area .line {
	height: 1px;
	display: inline-block;
	vertical-align: middle;
	background-color: #eee;
	position: relative;
}

.exp-line-area .for-mobile {
	display: none;
}

.exp-line-area .line .color {
	height: 1px;
	position: absolute;
	width: 0%;
	background-color: #ffde2b;
}

.exp-line-area > .line:first-child,
.exp-line-area > .line:last-child {
	width: 20%;
}

.exp-line-area:before {
	background-color: #eee;
}

.exp-line-area:after {
	width: 0%;
	background-color: #feeb37;
}

.expertise-line {
	height: 103px;
	position: relative;
}

.expertise-line.middle {
	background-image: url('./../images/expertise-line.png');
	background-repeat: repeat-x;
}

.medical-devices {
	background-image: url('./../images/medical-services.png');
	background-repeat: no-repeat;
}

.ereaders-tablets {
	background-image: url('./../images/ereaders-tablets.png');
	background-repeat: no-repeat;
}

.wearable-iot {
	background-image: url('./../images/wearables-iot.png');
	background-repeat: no-repeat;
}

.telecom {
	background-image: url('./../images/telecom.png');
	background-repeat: no-repeat;
}

.expertise-line.middle:first-child {
	width: 20.1822%;
}

.expertise-item > div {
	display: table;
	min-width: 130px;
	width: 100%;
	height: 100%;
	table-layout: fixed;
	position: relative;
}

.expertise-item > div .line,
.expertise-item > div .line {
	display: table-cell;
	background-color: transparent;
}

.expertise-item > div .line > div {
	display: block;
	height: 1px;
	width: 100%;
	background-color: #eee;
	vertical-align: middle;
	position: relative;
}

.expertise-item > div .line .color {
	height: 1px;
	position: absolute;
	width: 0%;
	background-color: #ffde2b;
}

.expertise-item > div > div:not(.line) {
	display: table-cell;
	min-width: 128px;
	width: 128px;
	height: 100%;
	vertical-align: middle;
	position: relative;
}

.expertise-item > div .back-color {
	position: absolute;
	top: 1%;
	height: 98%;
    width: 99%;
    left: 1%;
    background-color: #eee;
    z-index: -1;
}

.expertise-item > div .front-color {
	position: absolute;
	top: 1%;
	height: 98%;
    width: 0%;
    left: 0%;
    background-color: #ffde2b;
    z-index: -1;
}

.expertise-item .middle {
    height: 100%;
    background-image: url('./../images/expertise-line.png');
    background-repeat: repeat-x;
    overflow: hidden;
    display: block;
    float: none;
}

.expertise-item {
	width: 15%;
	height: 100%;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.expertise-item.middle {
	background-image: url('./../images/expertise-line.png');
	background-repeat: repeat-x;
}

.expertise-line.middle:last-child {
	width: 20.423%;
}

.expertise-line.items {
	width: 60%;
}

#top-block {
	padding-bottom: 15px;
	border-bottom: 1px solid white;
}

#title #top-block,
#title #idea-title {
	margin-right: 25.523%;
}

#idea-title {
	color: white;
	font-size: 50px;
	font-family: 'Roboto Condensed';
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 40px;
	white-space: pre-line;
}

.line-divider {
	border-bottom: 1px solid white;
}

.line-divider.dark {
	border-bottom: 1px solid black;	
	margin: 0;
	height: 0;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

#devices .line-divider {
	width: 312px;
	text-align: left;
}

#expertise .line-divider {
	width: 312px;
	margin: 10px 0 15px 0;
}

.contact-us-btn {
	cursor: pointer;
	color: #122b3a;
	font-weight: bold;
	font-size: 20px;
	padding: 37px 53px;
	background-color: #feeb37;
	display: inline-block;
}

#expertise .exp-line-area + .content-wrapper section {
	padding-top: 0;
	padding-right: 20.423%;
}

.contact-us-btn:hover {
	color: white;
}

.devices-contact {
	margin-top: 355px;
}

#expertise .contact-us {
	margin-top: 100px;
	width: 87%;
    margin-left: auto;
    margin-right: auto;
}

.expertise-blocks {
	margin-top: 100px;
	/*width: 80%;*/
	text-align: center;
	font-size: 0;
}

.expertise-blocks .item {
	width: 328px;
	margin: 0;
	padding: 0;
	height: 328px;
}

.block-pair {
	width: 330px;
	display: inline-block;
}

.block-pair:nth-child(1) .item:first-child {
	background-image: url(./../images/expertise-1.png);
	background-size: cover;
	background-position: center center;
	border: 1px solid #122b3a;
}

.block-pair:nth-child(2n+1) .item:last-child {
	background-color: #ffde2b;
	width: 330px;
	height: 330px;
}

.block-pair:nth-child(2) .item:first-child {
	background-color: #122b3a;
	width: 330px;
	height: 330px;
}

.block-pair:nth-child(3) .item:first-child {
	background-color: #2d4d61;
	width: 330px;
	height: 330px;
}

.block-pair:nth-child(2) .item:last-child {
	background-image: url(./../images/expertise-2.png);
	background-size: cover;
	background-position: center center;
	border: 1px solid #ffde2b;
}

.contact-us .title {
	color: black;
	font-size: 46px;
	font-weight: bold;
	font-family: 'Roboto Condensed';
	margin: 0;
}

#expertise .contact-us .title {
	line-height: 100px;
}

.discuss-title {
	color: white;
	font-size: 46px;
	font-weight: bold;
	font-family: 'Roboto Condensed';
	display: inline-block;
	margin: 0;
	line-height: 50px;
}

#devices .content-wrapper section {
    padding-right: 20.423%;
}

.left {
	float: left;
}

.right {
	float: right;
}

#top-block img {
	height: 20px;
	width: 114px;
}

.step-text {
	z-index: 10;
	position: relative;
}

.stat-item {
	width: 33%;
}

.stat-item > div:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: bottom;
}

.stat-item .mark-word {
	display: inline-block;
	font-size: 164px;
	font-family: 'Roboto Condensed';
	font-style: regular;
	vertical-align: middle;
	line-height: 132px;
	letter-spacing: -12px;
}

.stat-item .vertical.mark-word {
	display: inline-block;
	letter-spacing: normal;
	font-size: 27px;
	line-height: 27px;
	text-transform: uppercase;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform-origin: 18% 20%;
	-moz-transform-origin: 18% 20%;
	-o-transform-origin: 18% 20%;
	transform-origin: 18% 20%;
	vertical-align: bottom;
}

.stat-item p {
	position: absolute;
	background-color: #122b3a;
	font-size: 18px;
	color: white;
	font-family: 'Roboto';
	width: 245px;
	height: 168px;
	left: 30px;
	top: 48px;
	margin: 0;
	padding-bottom: 20px;
	z-index: 2;
}

.stat-item p:before {
	content: '';
	display: inline-block;
	height: 100%;
	width: 20px;
	vertical-align: bottom;
}

.stat-item > div.stat-border {
	height: 195px;
	width: 252px;
	position: absolute;
	z-index: 1;
	left: 30px;
	top: 48px;
	border: 1px solid rgba(255,255,255,0.5);
}

.stat-item p span {
	display: inline-block;
	vertical-align: bottom;
	width: 180px;
}

.mark-word,
.section-title {
	color: #feeb37;
}

#devices .section-title {
	margin-top: 80px;
	margin-bottom: 18px;
}

#devices .section-subtitle {
	margin-top: 16px;
}

.menu-block-title:before,
.menu-block-title:after {
	content:'';
	width: 0px;
	display:inline-block;
	height: 100%;
	vertical-align: middle;
}

.menu-block-title span{
	display: inline-block;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.menu-logo {
	z-index: 10;
	width: 55px;
	height: 55px;
	padding-top: 6px;
}

.content {
	z-index: 9;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.block:after,
.block:before {
	content: '';
	display: block;
	clear: both;
}

.stat-info {
	padding-top: 1.5%;
}

.stat-info:after,
.stat-info:before {
	content: '';
	display: inline-block;
	clear: both;
}

.stat-item {
	float: left;
	width: 33.333%;
	position: relative;
}

.stat-item > div {
	white-space: nowrap;
	position: relative;
	z-index: 5;
}

.services-next,
.services-prev {
	display: inline-block !important;
	cursor: pointer;

}

.services-next {
	float: right;
}

.services-prev {
	float: left;
}

.services-next .button,
.services-prev .button {
	width: 56px;
	height: 56px;
	border: 1px solid #feeb37;
}

.services-next > *,
.services-prev > * {
	display: inline-block;
}

.services-buttons {
	padding-top: 100px;
}

.button:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.button .arrow {
	display: inline-block;
	vertical-align: middle;
	margin: auto;
	width: 8px;
	height: 16px;
	background-image: url('./../images/services-arrows.png');
}

.services-prev:hover .button,
.services-next:hover .button {
	background-color: #feeb37;
}

.services-prev:hover .label,
.services-next:hover .label {
	color: #feeb37;
}

.services-prev:hover .arrow {
	background-position: -16px -5px;
}

.services-next:hover .arrow {
	background-position: -27px -5px;
}

.services-prev .arrow {
	background-position: -5px -5px;
}

.services-next .arrow {
	background-position: -38px -5px;
}

.services-next .label,
.services-prev .label {
	padding: 0 20px;
	font-weight: bold;
}

.button,
.button~.label {
	text-align: center;
	vertical-align: middle;
}

.services-next:before,
.services-prev:before {
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align: middle;
}

.slider-wrapper {
	float: left;
	width: 33.4269%;
}

.float-area:before,
.float-area:after {
	content: '';
	display: block;
	clear: both;
}

#step-slider .step article:not(:first-child) {
	margin-top: 50px;
}

#services-steps {
	padding-left: 10.446%;
	float: left;
	width: 56%;
}

.services-content:before,
.services-content:after {
	content: '';
	display: block;
	clear: both;
}

.steps-figures {
	list-style: none;
	font-family: 'Roboto Condensed';
	font-size: 18px;
	margin: 0;
	overflow: hidden;
}

.steps-figures li:not(:first-child) {
	margin-top: 40px;
}

.steps-figures li {
	display: block;
	position: relative;
	padding-left: 80px;
	height: 50px;
}

.step-color {
	position: absolute;
	top: 0;
	left: 0;
	top: 5%;
	height: 90%;
    z-index: -1;
}

.step-color.back {
	background-color: #eee;
	width: 100%;
}

.step-color.front {
	background-color: #feeb37;
	width: 0%;
}

.steps-figures li:before {
	content: '';
	display: inline-block;
	background-image: url('./../images/step-label.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 60px;
	height: 52px;
	left: 0;
}

.steps-figures li:after {
	content: '';
	display: inline-block;
	background-image: url('./../images/step-label-line.png');
	background-repeat: repeat-x;
	position: absolute;
	height: 52px;
	left: 60px;
	width: 100%;
}

.text-upper {
	text-transform: uppercase;
}

.services-step-header {
	font-family: 'Roboto Condensed';
	text-transform: uppercase;
	font-size: 20px;
	color: black;
	margin: 0 0 15px 0;
}

.services-step-description {
	font-family: 'Roboto Condensed';
	font-size: 14px;
	color: black;
	margin: 0;
	text-align: justify;
}

@media only screen  and (min-width : 1824px) {

	.menu-logo {
		/*padding: 16px 12px;*/
		padding-top: 16px;
		width: 72px;
		height: 72px;
	}

	#idea-title {
		font-size: 72px;
	}

	.contacts-text {
		font-size: 21px;
		margin-top: 2px;
	}

	#top-block img {
		height: 30px;
		width: 171px;
	}
}