@font-face {
	font-family: 'Roboto';
	src: url('./../fonts/Roboto 100.ttf');
	font-weight: 100;
}

@font-face {
	font-family: 'Roboto';
	src: url('./../fonts/Roboto 100italic.ttf');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('./../fonts/Roboto 300.ttf');
	font-weight: 300;
}

@font-face {
	font-family: 'Roboto';
	src: url('./../fonts/Roboto 300italic.ttf');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto Condensend';
	src: url('./../Roboto Condensend regular.ttf');
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Condensend';
	src: url('./../Roboto Condensend 700.ttf');
	font-weight: 700;
	font-style: bold;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto';
}

#title {
	width: 100%;
	height: 1080px;
	position: relative;
}

.asideMenu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	text-align: center;
	/*width: 96px;*/
	width: 5.003%;
	height: 100%;
	background-color: white;
}

.menu-block-title {
	height: 100%;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	font-family: 'Roboto Condensed';
	font-size: 20px;
}

.contacts-text {
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding-right: 20px;
	font-family: 'Roboto Condensed';
	background-image: url('./../images/contacts-arrow.png');
	background-position: 100% center;
	vertical-align: super;
	background-repeat: no-repeat;
	color: #ffde2b;
	font-size: 16px;
	float: right;
}

#title .content .background img {
	vertical-align: top;
	width: 100%;
	opacity: 0;
}

#title .content .background {
	position: absolute;
	background: url('./../images/title-bg.png') 50%/100% no-repeat;
	/*background-position: -5.003% 0;*/
	/*height: 100%;*/
	/*height: 1248px;*/
	width: 100%;
	z-index: -1;
	/*margin: 0 0 0 96px;
	margin: 0 0 0 5.003%;*/
}

#title .content-wrapper {
	/*background-image: url('./../images/title-bg.png');
	/*background-position: -96px 0;
	background-position: -5.003% 0;*/
}

.content-wrapper {
	/*height: 100%;
	margin: 0 0 0 96px;
	margin: 0 0 0 5.003%;*/
}

.clear:after,
.clear:before {
	content: '';
	display: inline-block;
	clear: both;
}

#title .content-wrapper section {
	padding-top: 10.5322%;
	padding-left: 20.1822%;
	padding-right: 20.423%;
}

#top-block {
	padding-bottom: 15px;
	border-bottom: 1px solid white;
}

#title #top-block,
#title #idea-title {
	margin-right: 25.523%;
}

#idea-title {
	color: white;
	font-size: 50px;
	font-family: 'Roboto Condensed';
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 40px;
	white-space: pre-line;
}

#top-block img {
	height: 20px;
	width: 114px;
}

.stat-item {
	width: 33%;
}

.stat-item > div:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: bottom;
}

.stat-item .mark-word {
	display: inline-block;
	font-size: 164px;
	font-family: 'Roboto Condensed';
	font-style: regular;
	vertical-align: middle;
	line-height: 132px;
	letter-spacing: -12px;
}

.stat-item .vertical.mark-word {
	display: inline-block;
	letter-spacing: normal;
	font-size: 27px;
	line-height: 27px;
	text-transform: uppercase;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform-origin: 18% 20%;
	-moz-transform-origin: 18% 20%;
	-o-transform-origin: 18% 20%;
	transform-origin: 18% 20%;
	vertical-align: bottom;
}

.stat-item p {
	position: absolute;
	background-color: #122b3a;
	font-size: 18px;
	color: white;
	font-family: 'Roboto';
	width: 245px;
	height: 168px;
	left: 30px;
	top: 48px;
	margin: 0;
	padding-bottom: 20px;
	z-index: 2;
}

.stat-item p:before {
	content: '';
	display: inline-block;
	height: 100%;
	width: 20px;
	vertical-align: bottom;
}

.stat-item > div.stat-border {
	height: 195px;
	width: 252px;
	position: absolute;
	z-index: 1;
	left: 30px;
	top: 48px;
	border: 1px solid rgba(255,255,255,0.5);
}

.stat-item p span {
	display: inline-block;
	vertical-align: bottom;
	width: 180px;
}

.mark-word {
	color: #feeb37;
}

.menu-block-title:before,
.menu-block-title:after {
	content:'';
	width: 5px;
	display:inline-block;
	height: 100%;
	vertical-align: middle;
}

.menu-block-title span{
	display: inline-block;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.menu-logo {
	z-index: 10;
	width: 55px;
	height: 55px;
	padding-top: 6px;
}

.content {
	z-index: 9;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.block:after,
.block:before {
	content: '';
	display: block;
	clear: both;
}

.stat-info {
	padding-top: 1.5%;
}

.stat-info:after,
.stat-info:before {
	content: '';
	display: inline-block;
	clear: both;
}

.stat-item {
	float: left;
	width: 33.333%;
	position: relative;
}

.stat-item > div {
	white-space: nowrap;
	position: relative;
	z-index: 5;
}

@media only screen  and (min-width : 1824px) {

	.menu-logo {
		/*padding: 16px 12px;*/
		padding-top: 16px;
		width: 72px;
		height: 72px;
	}

	#idea-title {
		font-size: 72px;
	}

	.contacts-text {
		font-size: 21px;
		margin-top: 2px;
	}

	#top-block img {
		height: 30px;
		width: 171px;
	}
}