@media only screen and (max-width: 1050px) {
	.team-persons .person {
		width: 49%;
		margin-bottom: 2%;
	}

	#team .team-persons {
		width: 70%;
		margin: auto;
		margin-top: 30px;
	}

	#expertise .expertise-blocks .block-pair {
		width: 500px;
	}

	#expertise .block-pair:nth-child(2) .item {
		float: left;
	}

	.block#expertise {
	    height: 1285px !important;
	}

	.block#expertise .content-wrapper section {
		padding-top: 0 !important;
	}

	.awards .awards-items, .cases .cases-items {
	    margin-left: 3% !important;
	}

	.section-title {
		font-size: 60px !important;
	}

	.block#awards-cases .content-wrapper section{
	    padding-right: 12.423%;
	}

	#awards-cases .awards .float-title, 
	#awards-cases .cases .float-title {
	    width: 200px !important;
	}

	.award-item img:last-child {
		width: 100%;
	}

	#awards-cases .awards-items, 
	#awards-cases .cases-items {
	    width: 65%;
	}

	.cases .cases-items {
		height: 300px;
	}

	#awards-cases {
		height: 850px !important;
	}

	#contacts .address .address__content {
	    padding: 5px 20px;
	}

	.block#contacts {
		height: 800px !important;
	}

	#contacts .content .background {
		height: 900px !important;
	}
}

@media only screen and (max-width: 1200px) {
	.team-persons .person .call-to-action span:first-child {
		font-size: 35px !important;
	}

	.team-persons .person .call-to-action span {
		font-size: 30px !important;
	}	

	.team-persons .person .title {
		font-size: 15px !important;
	}

	.address__content .contacts-form input:nth-child(1),
	.address__content .contacts-form input:nth-child(2) {
		width: 49%;
		display: inline-block;
	}

	/* TITLE */

	#title #idea-title {
		font-size: 40px;
	}

	.stat-item:nth-child(1),
	.stat-item:nth-child(2) {
		width: 50%;
	}

	.stat-item:nth-child(3) {
		margin-left: 25%;
		margin-top: 20%;
		width: 50%;
	}

	#title #top-block, 
	#title #idea-title {
		margin: 0 !important;
	}

	/* TITLE */

	/* SERVICES */

	.services-content .slider-wrapper {
		width: 48.4269%
	}

	.services-content #services-steps {
		padding-left: 2.446%;
	    width: 49%;
	}

	.slider-wrapper .services-next .label, 
	.slider-wrapper .services-prev .label {
	    padding: 0 15px;
	}

	.slider-wrapper {
		position: relative;
	}

	#services-steps .steps-figures {
		padding-left: 10px;
	}

	/* SERVICES */

	/* DEVICES */

	#devices .content .background {
		height: 860px !important;
	}

	#devices .devices-contact .discuss-title {
		font-size: 35px;
		line-height: 36px;
	}

	#devices .devices-contact .contact-us-btn {
	    padding: 31px 23px;
	}

	.block#devices .devices-contact {
	    margin-top: 25%;
	}

	.block#devices .section-title {
		margin: 0;
		font-size: 60px;
	}

	.block#devices .devices-list {
		margin-top: 2%;
	}


	#devices .devices-list .device-item .desc {
	    padding: 15px 5px;
	    padding-bottom: 100em;
	}

	/* DEVICES */
}

@media only screen and (max-width: 1440px) {
	
	.block .asideMenu {
		width: 96px;
	}

	.block-pair:last-child {
		width: 660px;
	}

	.devices-list .device-item .desc {
		padding: 20px 10px;
		padding-bottom: 100em;
    	margin-bottom: -100em;
	}

	/* EXPERTISE */

	#expertise .exp-line-area {
		margin-top: 30px;
	}

	.block#expertise .content-wrapper section {
		padding-top: 10%;
	}

	.expertise-blocks .block-pair {
		width: 248px;
	}

	.expertise-blocks .block-pair .item {
		width: 248px !important;
		height: 248px !important;
	}

	.block-pair .item h3 {
		padding-top: 50px;
		padding-bottom: 15px;
	}

	.block-pair .item p {
		font-size: 13px;
		padding: 0 15px;
	}

	.expertise-blocks .block-pair .item form input {
		padding: 5%;
		width: 90%;
	}

	.expertise-blocks .block-pair:nth-child(2n+1) .item:last-child,
	.expertise-blocks .block-pair:nth-child(3) .item:first-child,
	.expertise-blocks .block-pair:nth-child(2) .item:first-child {
		width: 250px !important;
		height: 250px !important;	
	}

	/* EXPERTISE */

	/* TEAM */

	.team-persons .person .call-to-action span:first-child {
		font-size: 40px;
	}

	.team-persons .person .call-to-action span {
		font-size: 34px;
	}	

	.team-persons .person .title {
		font-size: 17px;
	}

	/* TEAM */

	/* AWARDS */

	#awards-cases .awards .float-title, 
	#awards-cases .cases .float-title {
		width: 250px;
	}

	.awards .awards-items, 
	.cases .cases-items {
		margin-left: 5%;
	}

	.award-item span {
		font-size: 16px;
	}

	/* AWARDS */

	/* CONTACTS */

	.address .address__content {
		padding: 30px 30px;
	}

	.address__content .our-contacts, 
	.address__content .our-address {
	    margin-bottom: 20px;
	    width: 50%;
	}

	.address__content .contacts-form textarea {
		height: 50px;
		margin-bottom: 10px;
	}

	.address__content .contacts-form input, 
	.address__content .contacts-form textarea {
		padding: 8px 10px;
	}

	.address__content .our-contacts > span, 
	.address__content .our-address > span {
		font-size: 14px;
	}

	.address__content .contacts-form input {
		margin-bottom: 5px;
	}

	.address__content .our-contacts > h4, 
	.address__content .our-address > h4,
	.address__content .write-us {
		font-size: 18px;
	}

	.address__content .write-us {
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}

	/* CONTACTS */

	.devices-list .device-item .desc h3 {
		font-size: 17px;
	}

	.content .background img {
		display: none !important;
		width: 0;
	}

	#title {
		height: 900px !important;
	}

	#title .content .background {
		height: 1000px;
	}

	#devices {
		height: 850px !important;
	}

	#devices .content .background {
		height: 1030px;
	}

	#team {
		height: 800px !important;
	}

	#team .content .background {
		height: 900px;
	}

	#contacts {
		height: 885px !important;
	}

	#contacts .content .background {
		height: 985px;
	}

	.block#expertise {
		height: 1400px;
	}

	.block#services {
		height: 800px;
	}

	.block#services .content-wrapper section {
	    padding-top: 8%;
	}

	.float-area.services-buttons {
	    padding-top: 20px;
	}

	#devices .devices-contact {
	    margin-top: 230px;
	}

	.block#devices .section-title {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.devices-contact .discuss-title {
		font-size: 40px;
		font-family: 'Roboto Condensed';
		width: 72%;
	}

	.block#expertise .contact-us .title {
		font-size: 34px;
		line-height: 45px;
		width: 65%;
	}

	.block#expertise .contact-us,
	.block#expertise .expertise-blocks {
		margin-top: 50px;
	}

	#expertise .contact-us-btn {
		width: 30%;
		text-align: center;
	    box-sizing: border-box;
	    padding: 30px 23px;
	}

	.devices-contact .contact-us-btn {
	    padding: 37px 23px;
	    width: 28%;
	    box-sizing: border-box;
	    text-align: center;
	}

	#team .content .background {
		background: url('./../images/team-bg.png') center no-repeat !important;
		background-size: cover !important;
	}

	#devices .content .background {	
		background: url('./../images/devices-bg.png') right no-repeat !important;
		background-size: cover !important;
	}

	#title .content .background {
		background: url('./../images/title-bg.png') center no-repeat !important;
		background-size: cover !important;
		/*height: inherit;*/
	}

	#contacts .content .background {
		background: url('./../images/contacts-bg.png') center no-repeat !important;
		background-size: cover !important;
		top: -100px;
	}

}

@media only screen and (max-width: 320px) {
	.block#title .content-wrapper section {
		padding-right: 5%;
	}

	#title section #idea-title {
		text-align: center !important;
	}
}

@media only screen and (max-width: 425px) {

	.overlay #callback_form {
	    width: 100%;
	    box-sizing: border-box;
	    height: 380px;
	}

	#title .stat-info .stat-item {
		width: 100%;
		margin-left: 0;
	}

	#title .stat-info .stat-item:not(:first-child) {
		margin-top: 100px;
	}

	#title .stat-item p {
		height: 150px;
	}

	#title .stat-item > div.stat-border {
		height: 175px;
	}

	.services-content #services-steps {
		float: right;
	    padding-left: 0 !important;
	    width: 100%;
	}

	.services-content .slider-wrapper {
	    width: 100%;
	    float: right;
	}

	.block nav.asideMenu {
		width: 60px;
	}

	.asideMenu .menu-block-title span {
    	width: 60px;
    }

    #title {
	    height: 960px !important;
	}

	.block#services .section-title, 
	.block#contacts .section-title {
	    padding-bottom: 25px;
	}

	.block#services {
	    height: 1000px !important;
	}

	#devices {
	    height: 1000px !important;
	}

	.slider-wrapper .float-area.services-buttons {
	    padding-top: 0;
	    padding-bottom: 10px;
	    position: relative;
	    right: 0;
	    bottom: 0;
	}

	.devices-list .device-item {
	    width: 100%;
	    position: relative;
	}

	.devices-list .device-item:before,
	.devices-list .device-item:after {
		content: '';
		display: block;
		clear: both;
	}

	.devices-list .device-item .img-wrapper {
	    position: relative;
	    width: 30%;
	    float: left;
	}

	#devices .devices-list .device-item .desc {
	    padding: 0;
	    padding-bottom: 100em;
	    padding-bottom: 0;
	    margin-bottom: 0;
	    width: 67%;
	    float: left;
	}

	.device-item:nth-child(n) {
		margin-left: 0 !important;
		margin-bottom: 10px;
	}

	#devices .devices-contact .discuss-title {
		text-align: center;
		width: 100%;
	}

	.block#devices .devices-contact {
	    margin-top: 60% !important;
	}

	#expertise .section-title {
		margin-top: 60px;
	}

	.block#devices .devices-contact .contact-us-btn {
		width: 100%;
	}

	#devices .content .background {
	    height: 1100px !important;
	}

	.desc-wrapper {
		padding-left: 3%;
		position: absolute;
		height: 100%;
		background-color: #fbef62;
	}

	.exp-line-area .expertise-item:nth-child(2) {
		width: 50% !important;
	}

	.exp-line-area .line:first-child {
		width: 30% !important;
	}
	
	.exp-line-area .for-mobile[id='1'] {
		width: 20% !important;
	}

	.exp-line-area .for-mobile[id='2'],
	.exp-line-area .for-mobile[id='4'],
	.exp-line-area .for-mobile[id='6'] {
	    width: 40% !important;
	}

	.exp-line-area .line:last-child,
	.exp-line-area .for-mobile[id='3'],
	.exp-line-area .for-mobile[id='5'] {
		width: 20% !important;
	}

	#expertise .exp-line-area .expertise-item {
		width: 40%;
	}

	.block#expertise .contact-us .title {
		width: 100% !important;
		text-align: center;
	}

	#expertise .contact-us-btn,
	#expertise .contact-us {
		width: 100% !important;
	}

	#expertise .expertise-blocks .block-pair {
	    width: 250px;
	}

	section.block#expertise {
	    height: 2650px !important;
	}

	.team-persons .person {
	    width: 100%;
	}

	.block#team {
	    height: 1100px !important;
	}

	.block#team .content .background {
	    height: 100%;
	}

	.block#awards-cases .awards-items, 
	.block#awards-cases .cases-items {
	    width: 100%;
	    margin-left: 0 !important;
	    margin-top: 10px;
	}

	.block#awards-cases .awards .float-title, 
	.block#awards-cases .cases .float-title {
	    width: 100% !important;
	    margin-left: 0;
	    margin-top: 0;
	}

	.awards-items .award-item > img:first-child {
		height: 100px;
		width: auto;
	}

	.cases-items .case .desc {
		height: 90px;
	}

	.address__content .our-contacts, .address__content .our-address {
	    margin-bottom: 10px;
	    width: 100%;
	}

	.address__content .contacts-form input:nth-child(1), 
	.address__content .contacts-form input:nth-child(2) {
	    width: 49% !important;
	}

	.block#contacts {
	    height: 890px !important;
	}

	#contacts .content .background {
	    height: 991px !important;
	}

	.projects-list .project-item .item-logo {
	    width: 12%;
	}

	.projects-list .project-item .item-text {
	    width: 35%;
	}

	.project-item > img {
		padding-bottom: 15px;
	}

	#contacts .our-projects {
		bottom: initial;
	}

	#contacts .our-projects > h4 {
	    margin-top: 10px;
	}

	.projects-list {
		line-height: 0;
	}
}

@media only screen and (max-width: 375px) {
	.block#devices .line-divider, 
	.block#expertise .line-divider, 
	.block#team .line-divider {
		width: 100%;
	}

	.block#devices .devices-list .device-item .desc {
		width: 0;
	}

	.devices-list .device-item .img-wrapper {
		width: 35%;	
	}

	.devices-list .device-item .desc h3 {
	    font-size: 16px;
	}

	.block#expertise .exp-line-area + .content-wrapper section {
	    padding-right: 13.423%;
	}

	#team .team-persons {
	    width: 75%;
	}

	.block#title .content-wrapper section {
	    padding-right: 13.423%;
	}

	.services-content .slider-wrapper {
	    width: 95%;
	    padding-right: 5%;
	}

	.cases .case .desc h4 {
	    text-transform: uppercase;
	    font-size: 18px;
	    padding: 10px 20px 0 20px;
	}

	.cases .case .desc p {
	    padding: 0 20px 20px 20px;
	}

	.block#awards-cases {
	    height: 880px !important;
	}

	.address__content .contacts-form input:nth-child(1), 
	.address__content .contacts-form input:nth-child(2) {
	    width: 48.5% !important;
	}
}

@media only screen and (max-width: 320px) {
	#top-block img {
	    height: auto !important;
	    width: 60% !important;
	    padding-left: 15% !important;
	}

	#title .contacts-text {
		width: 100%;
    	text-align: center;
    	background-position: 68% center;
	}

	section #top-block {
	    padding-bottom: 25px;
	}

	.block#title .content-wrapper section {
	    padding-right: 3.423%;
	}

	.slider-wrapper .services-prev .label {
	    padding: 0 5px;
	}

	.slider-wrapper .services-next .label, .slider-wrapper .services-prev .label {
	    padding: 0 5px;
	}

	.block#services {
	    height: 1120px !important;
	}

	.devices-list .device-item .img-wrapper {
	    width: 40%;
	}

	.devices-list .device-item .desc h3 {
	    font-size: 15px;
	    margin-bottom: 0;
	}

	.device-item .desc p {
		font-size: 13px;
		margin: 0 0 10px 0;
		word-break: break-all;
	}

	section.block#devices .content-wrapper section,
	.block#expertise .exp-line-area + .content-wrapper section,
	.block#team .content-wrapper section,
	.block#awards-cases .content-wrapper section {
	    padding-right: 2%;
	}

	.block#contacts .content-wrapper section {
	    padding-right: 2%;
	}

	.section-title {
	    font-size: 50px !important;
	}

	.block#team .content-wrapper {
	    margin-top: 20%;
	}

	.block#team .content .background {
	    height: 1180px;
	}

	.address__content .contacts-form input:nth-child(1), 
	.address__content .contacts-form input:nth-child(2) {
	    width: 49% !important;
	}

	section.block#contacts .content-wrapper section {
	    padding-top: 12%;
	}

}

@media only screen and (max-width: 700px) {
	.block .asideMenu {
		width: 50px;
	}

	.asideMenu .menu-logo {
		width: 40px;
		height: 40px;
	}

	#title section #idea-title {
		font-size: 29px;
	    text-align: justify;
	    text-align-last: center;
	    white-space: normal;
	}
}

@media only screen and (max-width: 768px) {

	.block#contacts .section-title {
	    padding-bottom: 10px;
	}

	.block#contacts .content-wrapper section {
	    height: 94%;
	    padding-top: 6%;
	}

	.address__content .contacts-form input:nth-child(1),
	.address__content .contacts-form input:nth-child(2) {
 	   width: 49.5%;
	}

	#contacts .location {
		border: 1px solid #ffde2b;
	}

	#contacts .location,
	#contacts .address {
		width: 100%;
	}

	#contacts .location {
		height: 250px;
	}

	.location:before, 
	#contacts .address:before {
		padding-top: 0;
	}

	#awards-cases {
	    height: 910px !important;
	}

	#awards-cases .award-item span {
	    margin: 0px 0 10px 0;
	}

	#awards-cases .cases {
		margin-top: 10px;
	}

	#awards-cases .awards-items, #awards-cases .cases-items {
	    width: 70%;
	    margin-left: 15% !important;
	    margin-top: 10px;
	}

	#awards-cases .awards .line-divider {
	    margin: 0;
	}

	#awards-cases .awards .float-title, #awards-cases .cases .float-title {
	    width: 70% !important;
	    text-align: center;
	    margin-left: 15%;
	    margin-top: 0;
	}

	.block#awards-cases .content-wrapper section {
	    padding-top: 0%;
	}

	#team {
		height: 670px !important;
	}

	#team .content .background {
	    height: 700px;
	}

	.block#expertise {
	    height: 1440px !important;
	}

	#expertise .contact-us-btn {
	    width: 39%;
	    padding: 25px 15px;
	}

	.block#expertise .contact-us .title {
	    font-size: 27px;
	    line-height: 37px;
	    width: 61%;
	}

	#expertise .exp-line-area:before {
		height: 0;
	}

	#expertise .exp-line-area {
		height: auto;
	}

	#expertise .exp-line-area > * {
		margin-bottom: 50px;
	}

	.exp-line-area .expertise-item {
		height: 103px;
	}

	.exp-line-area .for-mobile[id='1'],
	.exp-line-area .for-mobile[id='2'],
	.exp-line-area .for-mobile[id='5'],
	.exp-line-area .for-mobile[id='6'] {
	    display: inline-block;
	    width: 15%;
	}

	.exp-line-area .for-mobile[id='3'],
	.exp-line-area .for-mobile[id='4'] {
		display: inline-block;
		width: 20%;
	}

	.block#devices .devices-contact {
	    margin-top: 30%;
	}

	#devices .devices-contact .discuss-title {
	    font-size: 28px;
	    line-height: 28px;
	}

	.devices-contact .discuss-title {
	    width: 70%;
	}

	#devices .devices-contact .contact-us-btn {
	    padding: 31px 20px;
	    width: 30%;
	}

	.block#devices .content-wrapper section {
	    padding-right: 10%;
	}

	#title #idea-title {
		font-size: 40px;
	}

	.stat-item .mark-word:not(.vertical) {
		font-size: 120px;
	}

	.stat-item:nth-child(1),
	.stat-item:nth-child(2) {
		width: 50%;
	}

	.stat-info .stat-item p {
		width: 206px;
	}

	.stat-info .stat-item > div.stat-border {
		width: 213px;
	}

	.stat-item:nth-child(3) {
		margin-left: 25%;
		margin-top: 30%;
		width: 50%;
	}

	.block#services .content-wrapper section {
		padding-top: 15%;
	}

	.stat-info .stat-item .mark-word.vertical {
		font-size: 20px;
		line-height: 20px;
		-webkit-transform-origin: 6% -20%;
    	-moz-transform-origin: 6% -20%;
    	-o-transform-origin: 6% -20%;
    	transform-origin: 6% -20%;
	}

	.block#services {
	    height: 700px;
	}

	.float-area.services-buttons {
	    padding-top: 20px;
	    position: absolute;
	    right: -100%;
	    bottom: 50px;
	}

	#title #top-block, 
	#title #idea-title {
		margin: 0 !important;
	}
}