@media only screen and (max-width: 1050px) {
	.team-persons .person {
		width: 49%;
		margin-bottom: 2%;
	}

	#team .team-persons {
		width: 70%;
		margin: auto;
	}

	/* TITLE */

	#title #idea-title {
		font-size: 40px;
	}

	.stat-item:nth-child(1),
	.stat-item:nth-child(2) {
		width: 50%;
	}

	.stat-item:nth-child(3) {
		margin-left: 25%;
		margin-top: 20%;
		width: 50%;
	}

	#title #top-block, 
	#title #idea-title {
		margin: 0 !important;
	}

	/* TITLE */

}

@media only screen and (max-width: 1200px) {
	.team-persons .person .call-to-action span:first-child {
		font-size: 35px !important;
	}

	.team-persons .person .call-to-action span {
		font-size: 30px !important;
	}	

	.team-persons .person .title {
		font-size: 15px !important;
	}
}

@media only screen and (max-width: 1440px) {
	
	.block .asideMenu {
		width: 96px;
	}

	.block-pair:last-child {
		width: 660px;
	}

	.devices-list .device-item .desc {
		padding: 20px 10px;
		padding-bottom: 100em;
    	margin-bottom: -100em;
	}

	/* EXPERTISE */

	.block#expertise .content-wrapper section {
		padding-top: 3%;
	}

	.expertise-blocks .block-pair {
		width: 248px;
	}

	.expertise-blocks .block-pair .item {
		width: 248px !important;
		height: 248px !important;
	}

	.block-pair .item h3 {
		padding-top: 50px;
		padding-bottom: 15px;
	}

	.block-pair .item p {
		font-size: 13px;
		padding: 0 15px;
	}

	.expertise-blocks .block-pair .item form input {
		padding: 5%;
		width: 90%;
	}

	.expertise-blocks .block-pair:nth-child(2n+1) .item:last-child,
	.expertise-blocks .block-pair:nth-child(3) .item:first-child,
	.expertise-blocks .block-pair:nth-child(2) .item:first-child {
		width: 250px !important;
		height: 250px !important;	
	}

	/* EXPERTISE */

	/* TEAM */

	.team-persons .person .call-to-action span:first-child {
		font-size: 40px;
	}

	.team-persons .person .call-to-action span {
		font-size: 34px;
	}	

	.team-persons .person .title {
		font-size: 17px;
	}

	/* TEAM */

	/* AWARDS */

	#awards-cases .awards .float-title, 
	#awards-cases .cases .float-title {
		width: 250px;
	}

	.awards .awards-items, 
	.cases .cases-items {
		margin-left: 5%;
	}

	.award-item span {
		font-size: 16px;
	}

	/* AWARDS */

	/* CONTACTS */

	.address .address__content {
		padding: 30px 40px;
	}

	.address__content .our-contacts, 
	.address__content .our-address {
	    margin-bottom: 20px;
	}

	.address__content .contacts-form textarea {
		height: 50px;
		margin-bottom: 10px;
	}

	.address__content .contacts-form input, 
	.address__content .contacts-form textarea {
		padding: 10px;
	}

	/*.project-item .item-logo {
		height: auto;
		width: 52px;
	}

	.project-item .item-text {
		width: auto;
		height: 20px;
	}*/

	/* CONTACTS */

	.devices-list .device-item .desc h3 {
		font-size: 17px;
	}

	/*.block-pair .item.right {
		float: left;
	}*/

	.content .background img {
		display: none !important;
		width: 0;
	}

	#title {
		height: 900px !important;
	}

	#title .content .background {
		height: 1000px;
	}

	#devices {
		height: 900px !important;
	}

	#devices .content .background {
		height: 1030px;
	}

	#team {
		height: 800px !important;
	}

	#team .content .background {
		height: 900px;
	}

	#contacts {
		height: 885px !important;
	}

	#contacts .content .background {
		height: 985px;
	}

	.block#expertise {
		height: 1400px;
	}

	.block#services .content-wrapper section {
	    padding-top: 8%;
	}

	.float-area.services-buttons {
	    padding-top: 20px;
	}

	#devices .devices-contact {
	    margin-top: 230px;
	}

	.block#devices .section-title {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.devices-contact .discuss-title {
		font-size: 40px;
		font-family: 'Roboto Condensed';
	}

	#expertise .contact-us .title {
		font-size: 34px;
	}

	.contact-us .contact-us-btn {
		 padding: 37px 30px;
	}

	.devices-contact .contact-us-btn {
	    padding: 37px 23px;
	}

	#team .content .background {
		background: url('./../images/team-bg.png') center no-repeat !important;
		background-size: cover !important;
	}

	#devices .content .background {	
		background: url('./../images/devices-bg.png') 50%/100% no-repeat;
	}

	#title .content .background {
		background: url('./../images/title-bg.png') center no-repeat !important;
		background-size: cover !important;
		/*height: inherit;*/
	}

	#contacts .content .background {
		background: url('./../images/contacts-bg.png') center no-repeat !important;
		background-size: cover !important;
		top: -100px;
	}

}

@media only screen and (max-width: 320px) {
	.block#title .content-wrapper section {
		padding-right: 5%;
	}

	#title section #idea-title {
		text-align: center !important;
	}
}

@media only screen and (max-width: 425px) {
	#title .stat-info .stat-item {
		width: 100%;
		margin-left: 0;
	}

	#title .stat-info .stat-item:not(:first-child) {
		margin-top: 100px;
	}

	#title .stat-item p {
		height: 150px;
	}

	#title .stat-item > div.stat-border {
		height: 175px;
	}
}

@media only screen and (max-width: 700px) {
	.block .asideMenu {
		width: 50px;
	}

	.asideMenu .menu-logo {
		width: 40px;
		height: 40px;
	}

	#title section #idea-title {
		font-size: 29px;
	    text-align: justify;
	    text-align-last: center;
	    white-space: normal;
	}
}

@media only screen and (max-width: 768px) {

	#title #idea-title {
		font-size: 40px;
	}

	.stat-item .mark-word:not(.vertical) {
		font-size: 120px;
	}

	.stat-item:nth-child(1),
	.stat-item:nth-child(2) {
		width: 50%;
	}

	.stat-info .stat-item p {
		width: 206px;
	}

	.stat-info .stat-item > div.stat-border {
		width: 213px;
	}

	.stat-item:nth-child(3) {
		margin-left: 25%;
		margin-top: 30%;
		width: 50%;
	}

	.stat-info .stat-item .mark-word.vertical {
		font-size: 20px;
		line-height: 20px;
		-webkit-transform-origin: 6% -20%;
    	-moz-transform-origin: 6% -20%;
    	-o-transform-origin: 6% -20%;
    	transform-origin: 6% -20%;
	}

	#title #top-block, 
	#title #idea-title {
		margin: 0 !important;
	}
}